@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.overall{
    width:100%;
    min-height:738px;
    background-color:white;
     font-family: "Inter", sans-serif;
     display: flex;
     flex-direction: column;
     gap:70px;
     contain: paint;
}

.nav{
    /* background-color: beige; */
    width:100%;
    display:flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    padding:10px;
    color:white;
     backdrop-filter: blur(5px) brightness(75%);
    /* top:30px */
    
}
.navpro h1{

    padding-top:10px

}
.ipro{
    font-size: 30px;
    color: aqua;
    padding-top:15px
}

.txt{
    display:flex;
    gap:20px
}
.txta>a{
   position: relative;
    padding-top: 5px;
    font-size: 20px;
    height: 35px;
    margin-top: 12px;
    
    
}
.navpro{
    display: flex;
    gap:15px
}
.navimg{
    width:50px;
    height:50px
}

.txta a::before{
    content: "";
    width:0%;
    height:10%;
    background-color:black;
    
    position:absolute;
    left:0px;
    top:0px;
    transition: all 1s;
    z-index: -1;



}
a{
    text-decoration: none;
    color:white;
    
}
.txta a::after{
    content: "";
    width:0%;
    height:10%;
    background-color:black;
    position:absolute;
    right:0px;
    bottom:0px;
     transition: all 1s;
      z-index: -1;



}
.txta a:hover::before{
    width:100%;
}
.txta a:hover::after{
    width:100%
}
.input{
    display:none
}

input:checked~.txt{
    background-color: cornflowerblue;
    left:20%;
    width:60%
}
.label{
    display:none

}


.navimgtxt{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/* home */
.home{
    width:100%;
    min-height: 738px;
    background-color: #1D5047;
    display: flex;
    
    padding-top:80px
}

.insidehome{
    width:45%;
    min-height:583px;
    display: flex;
    color: white;
    padding-left:25px;
    animation-name: home;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes home {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
    
}
.insidehome1{
    width:55%;
    min-height:583px;
    color: white;
    display: flex;
    gap:2%
}
.insidehome1a{
    width:50%;
    height:100%;
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-items: center;
}
.insidehome1aa{
    width:50%;
    height:100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap:15px;
    padding-top:15px;
    padding-bottom:20px
}

.insidehome1b{
    width:300px;
    height:170px;
    background-color: rgb(58, 15, 231);
       border-radius: 20px;
    animation-name: b1;
    animation-duration: 0.2s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    opacity: 0;
    /* animation-delay: 2s; */
    animation-fill-mode: forwards;
    /* transform: translateX(50%); */
}
@keyframes b1 {

    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
        transform: skewX(20deg);
    }
}
.insidehome1bb{
    width:300px;
    height:170px;
    background-color: rgb(58, 15, 231);
       border-radius: 20px;
       animation-name: bb1;
    animation-duration: 0.2s;
    animation-delay: 4.2s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards;
    /* border: 2px solid black; */
}
@keyframes bb1 {
0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
        
    }
   
    
}
.insidehome1bb img {
    width:100%;
    height:100%;
     border-radius: 20px;
}

.insidehome1bc{
    width:300px;
    height:170px;
    background-color: rgb(58, 15, 231);
       border-radius: 20px;
       animation-name: bbb1;
    animation-duration: 0.2s;
    animation-delay: 4.4s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards;

}
@keyframes bbb1 {
0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
        transform: skewX(-20deg);
        
    }
   
    
}
.insidehome1bc img{

    width:100%;
    height:100%;
     border-radius: 20px;


}
.insidehome1b2{
    width:220px;
    height:250px;
    background-color: rgb(58, 15, 231);
       border-radius: 50px;
       margin-bottom: 80px;
       position: relative;
       animation-name:b2 ;
       animation-duration: 2s;
       animation-delay: 2s;
       animation-iteration-count: 1s;
       opacity: 0;
       animation-fill-mode: forwards;
}
@keyframes b2 {
    0%{
        transform: translateX(320%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
    
}
.homedisplay{
    display: flex;
    gap:10px
}
.homestar{
    width:100px;
    height:100px;
    position: absolute;
    top:72%;
    left:-10%;
    animation-name: star;
    animation-duration:8s ;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes star {

    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.insidehome1b2img{
    width:100%;
    height:100%;
    border-radius: 50px;
}

.insidehome1b img{
    width:100%;
    height:100%;
       border-radius: 20px;
}
.insidehomeimgx{

    transform: skewX(18deg);

}
.insidehomeimgm{

   margin-left:22px

}
.insidehomeimgy{

    transform: skewX(-18deg);

}
.hometext{
    height: 70px;
    position: absolute;
    /* top: 77%; */
    left: -3%;
    bottom: -6%;
    animation-name: sta;
    animation-duration:8s ;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes sta {

    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.homecircle{
    width:50px;
    height:50px;
    background-color:#1D5047;
    border-radius: 50%;
    position: absolute;
    bottom: -2%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.span{
    width:50px;
    height:5px;
    background-color: #D9C43D;
    margin-top: 10px;
}
.but{
    width:140px;
    height:35px;
    background-color: white;
    border-radius: 20px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap:5px;
    margin-top:15px
}
.but i{
    width:30px;
    background-color:  #1D5047;
    height:30px;
    padding-top:7px;
    border-radius:50% ;

}
.but h3{
    width:100px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7CA0C;
    border-radius: 50px;
    color: black;
}
h1 span{
    font-size: 67px;
     color: #D9C43D;
}
.flex{
    flex-direction: column;

}
.just{
    justify-content: center;
}
.home h1{
    font-size: 50px;
    line-height: 60px;
}

.homeman{
    display: flex;
    flex-direction: column;
    gap:15px
}
.home p{
    width:400px;
    line-height: 20px;
}
.gap{
    gap:15px
}

/* home1 */
.home1{
    width:100%;
    min-height:738px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.homeroad{
    width:100%;
    height:80px;
    position: absolute;
    top:30%
}
.inhome1{
    width:1360px;
    min-height:650px;
    background-color: transparent;
    display: flex;
    gap:33px;
    flex-wrap: wrap;
    justify-content: center;
    padding:0px 5px 0px 5px
}
.inhomeaa{
    width:310px;
    min-height:650px;
    background-color: transparent;
contain: paint;


}
.inhomebox1a{
    width:100%;
    height:65%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
     animation-name: boxs;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
      animation-timeline:view();
    animation-range: entry 20% cover 30%;
    
    


}

@keyframes boxs {

    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
    
}
.inhomebox1ay{
    width:100%;
    height:65%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
     animation-name: boxy;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
     animation-delay: 1s;
     transform: translateY(-100%);
    animation-fill-mode: forwards;
     animation-timeline:view();
    animation-range: entry 20% cover 40%;
    /* animation-timeline: view();
    animation-range: exit; */

}

@keyframes boxy {

    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
    
}
.inhomebox1ax{
    width:100%;
    height:65%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
     animation-name: boxx;
      animation-timeline:view();
    animation-range: entry 20% cover 50%;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
     animation-delay: 2s;
     transform: translateY(-100%);
     animation-fill-mode: forwards;


}

@keyframes boxx {

    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
    
}
.inhomebox1az{
    width:100%;
    height:65%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
     animation-name: boxz;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
     animation-delay: 3s;
    animation-fill-mode: forwards;
     transform: translateY(-100%);
      animation-timeline:view();
    animation-range: entry 20% cover 60%;

}

@keyframes boxz {

    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
    
}
.inhomebox1a img{

    width: 224px;
    height:300px;

}
.inhomebox1ax img{

    width: 224px;
    height:300px;
}
.inhomebox1ay img{

    width: 224px;
    height:300px;
}
.inhomebox1az img{

    width: 224px;
    height:300px;
}
.inhomebox1b{
    width:100%;
    height:35%;
    background-color:white;
    display:flex;
    flex-direction: column;
    padding:10px;
    gap:10px;
}
.buttonhome1{
    width:130px;
    background-color: #E6DF52;
    padding:10px;
    border:none;
    border-radius:50px

}
.h1tender{
    position: absolute;
    top: 34%;
    left: 58%;
    color:#1D5047
}

/* about */
.about{
    background-color:white;
    width:100%;
    min-height:738px;
    display: flex;
    align-items: center;
}
.insideabout{
    background-color: white;
    width:100%;
    min-height:200px;
    position: relative;
    /* display: flex; */
}
.insideabout1{
    background-color:#1D5047;
    width:1050px;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    padding-left:30px;
    position: relative;

}
/* .inabout1{
    width:50%
} */
.insideabout1p{
    width:60%;
}
.insideabout1pa{
    width:70%;
}
.insideabout2{
    background-color:white;
    width:600px;
    height:600px;
    border-radius: 50%;
    /* margin-left:-250px; */
    padding-left:25px;
    padding-top:25px;
    position: absolute;
    left:52%;
    top:0%;
}
.ab3box{
    background-color:transparent;
    width:58.8%;
    min-height:150px;
    display: flex;

}
.abbox{
     background-color:transparent;
    width:33%;
    height:150px;
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px
}
.abboxcenter{
    border-left:1px solid black ;
     border-right:1px solid black ;
}
.abboxpp{
    width:52%
}
.abh1{
    width:50%;
    font-size: 45px;
    font-weight:600;

}
.abh1 span{
    font-size: 50px;
    color:#D9C43D;
    font-weight: 600;
}
.ell{
    width:550px;
    height:550px;
    animation-name: ellz;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
@keyframes ellz {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.ele{
     width:450px;
    height:550px;
    position:absolute;
    top:-5%;
    left:12%
}
.abtop{
        position: absolute;
    left: 66.2%;
    bottom: 15%;
    height: 50px;
    transform: rotate(0deg);
}
.abbottom{
        position: absolute;
    top: 84%;
    left: 66%;
}

/* services */

.services{
    width:100%;
    min-height: 738px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    scroll-margin: 70px;
}
.servicebox{
    width:85%;
    min-height:450px;
    background-color: white;
    display: flex;
    justify-content: center;
    gap:45px;
    flex-wrap: wrap;
}
.servicebox1{
    width:270px;
    min-height:400px;
    background-color:white;
    position: relative;
    border-radius: 20px;
    box-shadow: 3px 41px 31px -20px black;
    transition: 1s;
}
.servicebox1:hover{
    transform: scale(1.1);
}
.servicetxt{
    font-size: 25px;
    letter-spacing: 10px;
}
.servicebox1b{
    width:100%;
    height:50%;
    background-color:white;
    padding:15px 15px 15px;
    display: flex;
    border-radius: 0px 0px 20px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px
    /* border: 1px solid black; */
}
.sericon{
    position: absolute;
    height: 35px;
    top: 47%;
    left: 68%
}
.sebutton{
    width:100px;
    padding:10px;
    border: none;
    border: 1px solid black;
}
.servicebox1a{
    width:100%;
    height:50%;
    background-color:white;
    border-radius: 20px 20px 0px 0px ;
  
    
}

.servicebox1a img{
    width:100%;
    height:100%;
    
}

.servicediv{
    display: flex;
    flex-direction: column;
    gap:40px
}
.servicesh1{
    justify-content: center;
}
.serviceicon{
    display: flex;
    gap:30px
}
.icon{
    width:40px;
    height:40px;
    background-color: coral;
    font-size: 25px;
    border-radius: 50%;
    padding:8px 0px 0px 5px
}

/* project */
.project{
    width:100%;
    min-height: 738px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.insideproject{
    width:80%;
    min-height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
   

}
.projectbox{
    width:95%;
    min-height:400px;
    background-color:white;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}
.adproject{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.aeroproject{
    display: flex;
    gap:15px;
     padding-left:30px
}
.divproject{
    width:150px;
    height:3px;
    background-color: transparent;
    display: flex;
    gap:5px;
    border-radius: 50px;
    padding-right:30px
}
.div1p{
    width:55%;
    height:100%;
    background-color: black;
     border-radius: 50px;
}
.div2p{
    width:15%;
    height:100%;
    background-color: gray;
     border-radius: 50px;
}
.projectbox1{

    width:250px;
    height:400px;
    background-color:white;
    position: relative;
    /* border: 1px solid black; */

}
.vedio{
    width:250px;
    height:400px;
    object-fit: cover;
    clip-path: path("M 180,0 L 240,0 A 10,10,0,0,1  250,10 L 250,390 A 10, 10,0,0,1  240,400 L 10,400 A 10,10,0,0,1 0,390 L 0,110 A 10,10,0,0,1  10,100 L 90,100 A 10,10,0,0,0  100,90 L 100,70 A 10,10,0,0,1 110,60 L 160,60 A 10,10,0,0,0 170,50 L 170,10 A 10,10,0,0,1 180,0 Z");
    /* clip-path: path("M 180,0 L 240,0 L 250,10 L 250,290 L 240,300 L 10,300 L 0,290 L 0,110 L 70,110 L 70,110 L 70,100 L 70,70 L 80,60 L 110,60 L 120,50 L 120,0 Z") */
}
.projectbutton{
    width:120px;
    padding:8px;
    background-color: blanchedalmond;
    border-radius:50px ;
    border: none;
    font-size: 20px;
    position: absolute;
    bottom: 4%;
    left: 5%
}
.projecttxt{
position: absolute;
    top: 10%;
    left: 28%;
}
.projecttxta{
position: absolute;
    top: 10%;
    left: 22%;
}
.projecttxtb{
position: absolute;
    top: 10%;
    left: 30%;
}
.projecttxtc{
position: absolute;
    top: 9%;
    left: 25%;
}
.projecttxt1{
    position: absolute;
    top: 20%;
    left: 4%;
}
/* Testimonial */
.Testimonial{
    width:100%;
    height:738px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.temtxt{
    width:2500px;
    height:250px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap:50px;
    animation-name:pro ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: alternate; */
    
    

}

@keyframes pro {

    0%{
        transform: translate(20%);
    }
    /* 50%{
        transform: translateX(-82%);
    } */
    100%{
         transform: translateX(-20%);
    }
    
    
}

.temtxta{
    width:2500px;
    height:250px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap:50px;
    animation-name:mass ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction:alternate; */
    
    

}

@keyframes mass {

    0%{
        transform: translate(-20%);
    }
    
    100%{
        transform: translate(20%);
    }
    
    
}

.temtxt11{
    width:100%;
    height:250px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap:50px

}
.temp{
    font-size: 12px;
    padding:10px 0px;
}
.temtxt1{
    width:500px;
    height:150px;
    /* border: 1px solid blue; */
    display: flex;
    position: relative;
}
.temh{
    padding-top:5px
}
.temtxt2{
    width:350px;
    height:110px;
    background-color: #D9C43D;
    padding-left:65px;
    position: absolute;
    left:13%
}
.temimg{
position: absolute;
z-index: 5;
} 
.tembutton{
    width:100px;
    padding:8px;
    background-color: white;
    border: 1px solid black;
}
/* Appointment */
.Appointment{
     width:100%;
    min-height:738px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin: 70px;

}
.Appointment1{
    width:90%;
    min-height:650px;
    background-color:white;
    display: flex;
    flex-direction: column;
    gap:50px
}
.app2{
    width:100%;
    min-height:600px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px
}
.app2a{
    width:600px;
    min-height:500px;
    /* border:1px solid black */

}
.app2b{
    width:600px;
    min-height:500px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;

}
.form{
width:90%;
min-height:400px;
background-color: gray;
display: flex;
flex-direction: column;
align-items: center;
}

.app2a1{
    width:100%;
}
.app2a1a{
    width:50%;
}
.apinput{
    width:100%;
    padding:10px;
    margin-top:10px;
    margin-bottom: 20px;
}
.appdis{
    display: flex;
    gap:4%
}
.applast{
    width:100%;
    padding:10px;
    margin-top:10px;
    margin-bottom: 20px;
}
.appbutton{
    width:90%;
    padding:10px;
    background-color: #329391;
    border:none;
    border-radius: 50px;
}

/* appleft */
.appleft{
width:100%;
min-height:450px;
background-color: white;
position: relative;
}
.aap2ah1{
    font-size: 50px;
    width:70%
      
}
.appleft1{
    width:100%;
    height:250px;
    /* border: 1px solid black; */
    display: flex;
}
.appleft1a{
    width:50%;
    height:250px;
    /* border: 1px solid black; */
}
.apleftimg{
    width:100%;
    height:100%
}
.ap1left{
    width:120px;
    height:110px;
    display: grid;
    grid-template-columns: auto  auto auto auto;
}
.apdis{
    display: flex;
    justify-content: center;
    align-items: center;
}

.appcircle{
    width:150px;
    height:150px;
    background-color: #329391;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 36%
}

.appsmbox{
    width:40px;
    height:40px;
    background-color: #329391;
    position: absolute;
    top: 36.5%;
    left: 52.8%;
    transform: rotate(91deg)
}
.appsmbox1{
    width:40px;
    height:40px;
    background-color: #329391;
        position: absolute;
    top: 55.5%;
    left: 37.3%;
    transform: rotate(0deg)
}


/* last */
.last{
    width:100%;
    min-height:608px;
    background-color:#1D5047;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    justify-content: center;
    color:white;
    padding:20px 10px 0px;
}
.last1{
    width:90%;
    min-height: 400px;
    background-color: #1D5047;
    display: flex;
    gap:15px;
      flex-wrap: wrap;
}
.last2{
     width:90%;
    min-height: 50px;
    background-color: #1D5047;
    display: flex;
    align-items: center;
    gap:15px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.last1a{
    width:600px;
    height:100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap:25px
}
.last1b{
    width:190px;
    height:100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;

    gap:15px
}
.last1c{
    width:185px;
    height:100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap:15px
}
.lastp{
    width:85%
}
.lastmap{
    width:70%;
    height:250px;
    /* border: 1px solid black; */
}
.lastdisplay{
    display: flex;
}
.last i{
    font-size: 20px;

}
.lastgap{
    gap:15px
}
.lastgap1{
    gap:8px
}
.lastbottom{
    width:250px;
    /* border: 1px solid black; */
}
.lastbottom1{
    width:230px;
    /* border: 1px solid black; */
}



@media only screen and (min-width:300px) and (max-width:600px){

 
      .txt{
    background-color: burlywood;
    position: fixed;
    left:-100%;
    top:100px;
    height:90vh;
    width:100%;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    transition:all 1s
   }
   .appcircle{
        left:25%;
        border-radius:0%;
   }
   .label{
    display:inline-block
   }
   .home{
    flex-direction: column;
    gap:15px
   }
   .insidehome{
    width:100%

   }
   .insidehome1{
    width:100%;
    flex-direction: column;
    gap:20px
   }
   .home p{
    width:80%
   }
   .insidehome1aa{
    width:100%;
    align-items: center;
    justify-content: center;
   }
   .insidehome1a{
    width:100%;
    align-items: center;
    justify-content: center;
   }
   .insidehome1b{
    width:246px
   }

   /* app */
   .appdis{
    flex-direction: column;
   }
   .app2a1a{
    width:100%
   }
   .apdis{
    display: none;
   }
   .appleft1a{
    width:100%
   }

   .Appointment1{
    width:100%
   }
   .lastmap{
    width:100%
   }

   .insidehomeimgx {
    transform: skewX(0deg);
}
.insidehomeimgy{
    transform: skewX(0deg);
}
.insidehomeimgm {
    margin-left: 0px;
}
.insidehome1b2{
    margin-bottom:0px
}
}
@media only screen and (min-width:600px) and (max-width:900px){

 

    .insidehome1a {
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: end;
    /* align-items: center; */
    padding-top: 165px;
}
     .txt{
    background-color: burlywood;
    position: fixed;
    left:-100%;
    top:100px;
    height:80vh;
    width:100%;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    transition:all 1s
   }
   .label{
    display:inline-block
   }
   .home{
    flex-direction: column;
   }
   .insidehome{
    width:100%

   }
   .insidehome1{
    width:100%
   }
   .insidehome1a{
    width:43%
   }
   .insidehome1aa{
    width:57%
   }
    
}
@media only screen and (min-width:900px) and (max-width:1200px){

  .txt{
    background-color: burlywood;
    position: fixed;
    left:-100%;
    top:100px;
    height:80vh;
    width:100%;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    transition:all 1s
   }
   .insidehome1a {
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: end;
    /* align-items: center; */
    padding-top: 165px;
}
   .label{
    display:inline-block
   }
   .home{
    flex-direction: column;
   }
   .insidehome{
    width:100%

   }
   .insidehome1{
    width:100%
   }
    
}


/* about */
@media only screen and (min-width:300px) and (max-width:400px){

    .abh1{
        width:100%
    }
    
       .abbottom {
        position: absolute;
        top: 82%;
        left: 66.4%;
        height: 17px;
        width: 22px;
        transform: rotate(-10deg);
    }
    .insideabout1{
    background-color:#1D5047;
    width:100%;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    padding-left:15px;
    position: relative;

}
        .ell {
        width: 244px;
        height: 246px;
    }
.insideabout2 {
    /* background-color: pink; */
    width: 290px;
    height: 290px;
    border-radius: 50%;
     position: absolute;
    left: 6%;
    top:71%;
}
.insideabout{
    /* background-color: green; */
    width:100%;
    height:1135px;
    position: relative;
    /* display: flex; */
}
.ele {
        width: 222px;
        height: 225px;
        position: absolute;
        top: -4%;
        left: 12%;
    }
.abtop {
        position: absolute;
        left: 65.8%;
        bottom: 15.9%;
        height: 26px;
        transform: rotate(0deg);
        width: 4px;
    }
.ab3box{
    width:90%;
    flex-direction: column;


}
.abbox{
    width:100%
}
.insideabout1p {
    width: 100%;
}
.insideabout1 {
        width: 100%;
        height: 750px;
    }
     .abboxcenter{
        border-top: 1px solid black;
        border-bottom:1px solid black;
        border-left:0px solid black;
         border-right:0px solid black;
    } 

}
@media only screen and (min-width:400px) and (max-width:500px){

    .abh1{
        width:100%
    }
    .abboxcenter{
        border-top: 1px solid black;
        border-bottom:1px solid black;
        border-left:0px solid black;
         border-right:0px solid black;
    } 
    
        .abbottom {
        position: absolute;
        top: 84%;
        left: 65.4%;
        height: 16.8px;
        width: 33px;
        transform: rotate(-1deg);
    }
    .insideabout1{
    background-color:#1D5047;
    width:100%;
    height:650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    padding-left:15px;
    position: relative;

}
        .ell {
        width: 317px;
        height: 322px;
    }
.insideabout2 {
    /* background-color: pink; */
    width: 365px;
    height: 365px;
    border-radius: 50%;
     position: absolute;
    left: 7%;
    top:63%;
}
.insideabout{
    /* background-color: green; */
    width:100%;
    height:1150px;
    position: relative;
    /* display: flex; */
}
.ele {
        width: 263px;
        height: 314px;
        position: absolute;
        top: -4%;
        left: 14%;
    }
.abtop {
        position: absolute;
        left: 65.8%;
        bottom: 14.5%;
        height: 33px;
        transform: rotate(0deg);
        width: 6px;
    }
.ab3box{
    width:60%;
    flex-direction:column
}
.abbox{
    width:100%
}
.insideabout1p {
    width: 100%;
    text-align: center;
}
.insideabout1 {
        width: 100%;
        min-height: 650px;
    }
    
}
@media only screen and (min-width:500px) and (max-width:600px){

    .abh1{
        width:100%
    }
    
    .abbottom {
        position: absolute;
        top: 84%;
        left: 65.4%;
        height: 20px;
        /* width: 44px; */
    }
    .insideabout1{
    background-color:#1D5047;
    width:100%;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    padding-left:15px;
    position: relative;

}
        .ell {
        width: 373px;
        height: 376px;
    }
.insideabout2 {
    /* background-color: pink; */
    width: 420px;
    height: 420px;
    border-radius: 50%;
     position: absolute;
    left: 7%;
    top:58%;
}
.insideabout{
    /* background-color: green; */
    width:100%;
    height:1100px;
    position: relative;
    /* display: flex; */
}
.ele {
        width: 338px;
        height: 370px;
        position: absolute;
        top: -4%;
        left: 12%;
    }
.abtop {
        position: absolute;
        left: 65.8%;
        bottom: 14.9%;
        height: 36px;
        transform: rotate(0deg);
        width: 8px;
    }
.ab3box{
    width:100%
}
.insideabout1p {
    width: 100%;
}
.insideabout1 {
        width: 100%;
        height: 600px;
    }
    
    
}
@media only screen and (min-width:600px) and (max-width:700px){

    .abbottom {
        position: absolute;
        top: 84%;
        left: 65.4%;
        height: 20px;
        /* width: 44px; */
    }
    .insideabout1{
    background-color:#1D5047;
    width:100%;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    padding-left:30px;
    position: relative;

}
        .ell {
        width: 373px;
        height: 376px;
    }
.insideabout2 {
    /* background-color: pink; */
    width: 420px;
    height: 420px;
    border-radius: 50%;
     position: absolute;
    left: 13%;
    top:58%;
}
.insideabout{
    /* background-color: green; */
    width:100%;
    height:1100px;
    position: relative;
    /* display: flex; */
}
.ele {
        width: 338px;
        height: 370px;
        position: absolute;
        top: -4%;
        left: 12%;
    }
.abtop {
        position: absolute;
        left: 65.8%;
        bottom: 14.9%;
        height: 36px;
        transform: rotate(0deg);
        width: 8px;
    }
.ab3box{
    width:80%
}
.insideabout1p {
    width: 80%;
}
.insideabout1 {
        width: 100%;
        height: 600px;
    }
    
}
@media only screen and (min-width:700px) and (max-width:800px){
    
    .abbottom {
        position: absolute;
        top: 84%;
        left: 65.4%;
        height: 20px;
        /* width: 44px; */
    }
    .insideabout1{
    background-color:#1D5047;
    width:100%;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    padding-left:30px;
    position: relative;

}
        .ell {
        width: 373px;
        height: 376px;
    }
.insideabout2 {
    /* background-color: pink; */
    width: 420px;
    height: 420px;
    border-radius: 50%;
     position: absolute;
    left: 18%;
    top:55%;
}
.insideabout{
    /* background-color: green; */
    width:100%;
    height:1000px;
    position: relative;
    /* display: flex; */
}
.ele {
        width: 338px;
        height: 370px;
        position: absolute;
        top: -4%;
        left: 12%;
    }
.abtop {
        position: absolute;
        left: 65.8%;
        bottom: 14.9%;
        height: 36px;
        transform: rotate(0deg);
        width: 8px;
    }
.ab3box{
    width:90%
}
.insideabout1p {
    width: 80%;
}
.insideabout1 {
        width: 100%;
        height: 506px;
    }
}
@media only screen and (min-width:800px) and (max-width:900px){
    .abbottom {
        position: absolute;
        top: 84%;
        left: 65.4%;
        height: 20px;
        /* width: 44px; */
    }
    .insideabout1{
    background-color:#1D5047;
    width:100%;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    padding-left:30px;
    position: relative;

}
        .ell {
        width: 373px;
        height: 376px;
    }
.insideabout2 {
    /* background-color: pink; */
    width: 420px;
    height: 420px;
    border-radius: 50%;
     position: absolute;
    left: 26%;
    top:55%;
}
.insideabout{
    /* background-color: green; */
    width:100%;
    height:1000px;
    position: relative;
    /* display: flex; */
}
.ele {
        width: 338px;
        height: 370px;
        position: absolute;
        top: -4%;
        left: 12%;
    }
.abtop {
        position: absolute;
        left: 65.8%;
        bottom: 14.9%;
        height: 36px;
        transform: rotate(0deg);
        width: 8px;
    }
.ab3box{
    width:80%
}
.insideabout1p {
    width: 80%;
}
.insideabout1 {
        width: 100%;
        height: 506px;
    }
    
}
@media only screen and (min-width:900px) and (max-width:1000px){
   .abbottom {
        position: absolute;
        top: 84%;
        left: 65.4%;
        height: 20px;
        /* width: 44px; */
    }
    
        .ell {
        width: 373px;
        height: 376px;
    }
.insideabout2 {
    /* background-color: pink; */
    width: 420px;
    height: 420px;
    border-radius: 50%;
    /* margin-left: -250px; */
    /* padding-left: 25px;
    padding-top: 25px; */
    position: absolute;
    left: 52%;
    top: 9%;
}
.ele {
        width: 338px;
        height: 370px;
        position: absolute;
        top: -4%;
        left: 12%;
    }
.abtop {
        position: absolute;
        left: 65.8%;
        bottom: 14.9%;
        height: 36px;
        transform: rotate(0deg);
        width: 8px;
    }
.ab3box{
    width:45%
}
.insideabout1p {
    width: 50%;
}
.insideabout1 {
        width: 842px;
        height: 506px;
    }
    
}
@media only screen and (min-width:1000px) and (max-width:1100px){

    .abbottom {
        position: absolute;
        top: 84%;
        left: 66.5%;
        height: 24px;
        /* width: 44px; */
    }
    .ell {
        width: 430px;
        height: 437px;
    }
.insideabout2 {
    /* background-color: pink; */
    width: 480px;
    height: 480px;
    border-radius: 50%;
    /* margin-left: -250px; */
    /* padding-left: 25px;
    padding-top: 25px; */
    position: absolute;
    left: 52%;
    top: 3%;
}
.ele {
        width: 357px;
        height: 431px;
        position: absolute;
        top: -4%;
        left: 12%;
    }
.abtop {
        position: absolute;
        left: 66.8%;
        bottom: 14.9%;
        height: 42px;
        transform: rotate(0deg);
        width: 9px;
    }
.ab3box{
    width:55%
}
.insideabout1 {
        width: 842px;
        height: 506px;
    }
    
}
@media only screen and (min-width:1100px) and (max-width:1200px){
    
   .abbottom {
        position: absolute;
        top: 84%;
        left: 66.5%;
        height: 24px;
        /* width: 44px; */
    }
    .ell {
        width: 462px;
        height: 458px;
    }
.insideabout2 {
    /* background-color: pink; */
    width: 505px;
    height: 505px;
    border-radius: 50%;
    /* margin-left: -250px; */
    /* padding-left: 25px;
    padding-top: 25px; */
    position: absolute;
    left: 52%;
    top: 0%;
}
.ele {
        width: 374px;
        height: 453px;
        position: absolute;
        top: -4%;
        left: 12%;
    }
.abtop {
        position: absolute;
        left: 66.8%;
        bottom: 14.9%;
        height: 42px;
        transform: rotate(0deg);
        width: 9px;
    }
.ab3box{
    width:55%
}
.insideabout1 {
        width: 842px;
        height: 506px;
    }
}
@media only screen and (min-width:1200px) and (max-width:1300px){

    .abbottom {
    position: absolute;
    top: 84%;
    left: 65.8%;
    height: 27px;
}
.ell {
    width: 510px;
    height: 516px;
}
.insideabout2 {
    /* background-color: pink; */
    width: 570px;
    height: 570px;
    border-radius: 50%;
    /* margin-left: -250px; */
    padding-left: 30px;
    padding-top: 30px;
    position: absolute;
    left: 52%;
    top: 0%;
}
.ele {
    width: 450px;
    height: 500px;
    position: absolute;
    top: -4%;
    left: 12%;
}
.abtop {
    position: absolute;
    left: 66%;
    bottom: 15%;
    height: 49px;
    transform: rotate(0deg);
}
.ab3box{
    width:55%
}
.insideabout1{
    width:945px;
    height:572px
}
    
}

